<#macro mainlayout pageTitle="ESR sdap" pageCss="" pageJavascript=""  >
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="utf-8">
            <title>${pageTitle}</title>
            <meta name="renderer" content="webkit">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
            <meta name="apple-mobile-web-app-status-bar-style" content="black">
            <meta name="apple-mobile-web-app-capable" content="yes">
            <meta name="format-detection" content="telephone=no">

            <!-- Css BEGIN -->
            <#include "/WEB-INF/views/common/inc/_css.html" />
            <!-- Css END -->
        </head>
        <body class="childrenBody">

                <!-- PAGE CONTENT BEGINS -->
                <#nested />
                <!-- PAGE CONTENT ENDS -->

        <!-- JavaScript BEGIN -->
        <#include "/WEB-INF/views/common/inc/_js.html" />
        </body>
        </html>
</#macro>