
.childrenBody{
    padding: 10px;
}
.layui-table, .layui-table th {
    text-align: center;
}

.dialog-html{
    display: none;
    padding: 10px;
}

/*固定不动表头的外层的样式设置layui-field-box去掉这个自带的pading样式*/
.table_fixed{/*background: #fff;*/z-index: 20;padding: 0 15px !important; position: fixed; top: -11px;/*left:0;*/ display: none;}
.table_fixed tr{background-color: #f8f8f8;}

.layui-inline > .layui-btn{
    margin-top: 5px;
}

#myTable .layui-btn{
    margin: 0 7px 10px 0;
}

.ztree {
    /*margin-top: 10px;*/
    border: 1px solid #617775;
    background: #f0f6e4;
    width: 300px;
    height: 400px;
    overflow-y: scroll;
    overflow-x: auto;
}